<?php
template_include("base.html",CORE);
top();
?>

<div class="py-4 container-md" >
    <div class="row" style="min-height: 100lvh;">
        <div class="col-md-8">
            <h1 class="fw-bold display-5 " id="lead_text" style="word-wrap: break-word; color: var(--theme_color); min-height: 60px;">
                
            </h1>
            <p class="fs-4 w-75" id="lead_textb" style="min-height: 100px;"></p>
            <div class="d-flex gap-3 ">
                <button class="btn btn-outline-dark px-3 border-black">Get Started</button>
                <button class="btn btn-dark px-3 bg-black border-black">Donate Here</button>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="list">
                <img src="static/images/homepage/946c9c_22c01501dcb241e09fe6cd6f14478d5f~mv2.png" alt="Homepage" >
                <img src="static/images/homepage/entb.jpeg" alt="Homepage" >
                <img src="static/images/homepage/bigstock-remote-job-technology-and-peo-363666529-1-1024x640.jpg" alt="Homepage" >
                <img src="static/images/homepage/UX+design+lessons+online.jpeg" alt="Homepage" >
                <img src="static/images/homepage/concerned-black-employee-talking-cellphone-looking-laptop-screen-african-american-mobile-phone-having-issues-165581357.webp" alt="Homepage" >
                
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="d-flex justify-content-center">
            <h2>About us</h2>
        </div>
    </div>
</div>
<style>
    img{
        border-radius: 16px;
        border: solid 2px white;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), 5px 4px 10px rgba(100, 100, 0, 0.3);
        transition: all 0.5s ease;
    }
    .list{
        column-count: 2;
    }
    /* THe text animation */
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var tl = gsap.timeline({ defaults: { duration: 2, ease: "none" } });

        tl.to("#lead_text", {
        text: {
            value: "Empowering Young Minds To Thrive And Lead Independent Lives.",
            chars: "XO",
            revealDelay: 0.5,
            speed: 0.3,
            newClass: "myClass"
        }
        })
        .to("#lead_textb", {
        text: {
            value: "Join us in creating the next generation of CEO's, Entrepreneurs and Change-Makers",
            chars: "XO",
            revealDelay: 0.5,
            speed: 0.3,
            newClass: "myClass"
        }
        })

});

   
</script>
<?php
bottom();
?>